* {
  scrollbar-width: auto;
  scrollbar-color: #ffca68 #414141;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #414141;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffca68;
  border-radius: 10px;
  border: 3px solid #414141;
  border-radius: 10px;
}